// Up Arrow 1

.scroll-up {
    height: 40px;
    width: 40px;
    display: block;
    outline: 1px solid rgba(666,666,666,.08);
    position: relative;
    cursor: pointer;
    // transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    svg .line {
        stroke-width: 1;
        stroke: #aaa;
        fill: none;
        stroke-dasharray: 20;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }
    &:hover svg .line {
        &.top {
            -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
        }
        &.bottom {
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
        }
        &.left {
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }
        &.right {
            -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
        }
    }
}

.scroll-up {
    .left-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 5px;
        width: 18px;
        display: block;
        transform: rotate(-45deg);
        &:after {
            content: "";
            background-color: #666;
            width: 18px;
            height: 1px;
            display: block;
            border-radius: 1px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
            transform-origin: right center;
            z-index: -1;
        }
    }
    .right-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 17px;
        width: 18px;
        display: block;
        transform: rotate(45deg);
        border-radius: 2px;
        &:after {
            content: "";
            background-color: #666;
            width: 18px;
            height: 1px;
            display: block;
            border-radius: 1px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
            transform-origin: left center;
            z-index: -1;
        }
    }
    &:hover {
        transition: all .1s;
        .left-bar:after {
            transform: rotate(-10deg);
        }
        .right-bar:after {
            transform: rotate(10deg);
        }
    }
}

// /Up Arrow 1



// Up Arrow 2

.arrow-up {
  background-color: #303030;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid #666;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 2px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
  &:after {
    content: "";
    background-color: #dddddd;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: right center;
    z-index: -1;
  }
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 16px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
  &:after {
    content: "";
    background-color: #dddddd;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: left center;
    z-index: -1;
  }
}

.arrow-up:hover {
  transition: all .1s;
  .left-arm:after {
    transform: rotate(-10deg);
  }
  .right-arm:after {
    transform: rotate(10deg);
  }
  .arrow-slide {
    transition: all .4s ease-in-out;
    transform: translateY(200%);
  }
}

.arrow-up-left {
    transform: rotate(-90deg);
}

.arrow-up-right {
    transform: rotate(90deg);
    margin-right: 1rem;
}

 // /Up Arrow 2





// --------------- display stuff  --------------------

// .scroll-up {
//      margin-left: 100px;
// }

// .arrow-up {
//     margin-left: -100px;
// }

// .arrow-up,
// .scroll-up {
//     position: fixed;
//     top: 200px;
// }

// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     background-color: #111;
// }